body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.login {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}



.header{ 
  position:fixed;
  top: 0;
	width: 100%;
	height: var(--heading-height);
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /*put the div at the top of the page 
    
   /* Optional: for a more striking appearance */
}



.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input:focus {
  border-color: #4CAF50;
  outline: none;
}

.button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #218838; /* Darker shade on hover */
}

.notification {
  margin-top: 10px;
  color: #d9534f; /* Bootstrap danger color for errors */
}
